{% extends "base.html" %} {% block content %}

<div class="container" align="left">
  <iframe
    src="https://calendar.google.com/calendar/embed?src={{calendar_id}}%40group.calendar.google.com&ctz=America%2FSao_Paulo"
    style="border: 0"
    width="800"
    height="600"
    frameborder="0"
    scrolling="no"
  >
  </iframe>

  <h2>Caso o seu calendário não tenha aparecido em cima, cheque no seu e-mail</h2>
  <img src="/static/email.png" alt="" width="800" height="200">

  {% endblock %}
</div>
