{% extends 'base.html' %} {% block content %}

{% for alert in get_flashed_messages(category_filter=["missing"]) %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>Faltou colar os seus horários!</strong> {{alert}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


{% endfor %}







{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}

{% for error in errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Algum erro aconteceu! :(</strong> {{error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endfor %}
{% endif %}
{% endwith %}


{% for alert in get_flashed_messages(category_filter=["alert"]) %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>É preciso adicionar o e-mail da sua conta do Google Calendar!</strong> {{alert}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


{% endfor %}
<br />
<div class="container" align="left">
  
  <img src="/static/copy.gif" height=" 250">
  <br>
  <h2 style="font-family:'Open Sans', sans-serif;font-weight: normal;">Cole os dias e os horários das suas disciplinas:</h2>
  <form method="POST">
    {{form.hidden_tag()}} {{form.body(class="form-control", rows = "7")}}
    <br />

    {{form.submit(class="btn btn-outline-dark", value = "Gerar Arquivo .ical")}}
    
    <br />
    <br />
    {{form.email(class="form-label", placeholder = "E-mail")}}
    {{form.submit(class="btn btn-outline-dark f-r", value = "Enviar Calendário GoogleCalendar")}}
    
  </form>
</div>

{% endblock %}