{% extends 'base.html' %} {% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
    <p class="lead">Cole os dias e os horários das suas disciplinas</p>
    <form method="POST">
      {{form.hidden_tag()}} {{form.body(class="form-control", rows = "7")}}
      <br />
      <br />
      {{form.email.label}} {{form.email(class="form-label")}}
      <br />
      <br />
      {{form.submit(class="btn btn-outline-dark")}}
    </form>

  </div>
</div>

{% endblock %}