{% extends 'base.html' %} {% block content %}

<br />
<div class="container" align="left">
  <h2>Cole os dias e os horários das suas disciplinas</h1>
  <br>
  <form method="POST">
    {{form.hidden_tag()}} {{form.body(class="form-control", rows = "7")}}
    <br />
    <br />
    {{form.submit2(class="btn btn-outline-dark")}}
    
    <br />
    <br />
    {{form.email.label}} {{form.email(class="form-label")}}
    {{form.submit(class="btn btn-outline-dark f-r")}}
    
  </form>
</div>

{% endblock %}
