body, html{
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    font-family: Roboto, sans-serif;
}

.outerContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    margin: 10px auto;
    background-color: rgb(132, 132, 175);
    width: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0.4, 1, 1, 0.5); 
}

.header{
    background-color: #ad9ae6;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0px 20px 0px 20px;
    justify-content: flex-start;
}

.headerSpan{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.logo{
    height: 80px;
}

.calendarInput, .emailInput{
    padding: 10px 0px;
    text-indent: 10px;
    border: none;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
}

.outerCalendarInput{
    border-radius: 10px;
    overflow: hidden;
}

.calendarInput{
    align-self: center;
    width: 100%;
    height: 200px;
    resize: none;
}

.textInputsContainer{
    margin-top: 15px;
    padding: 0px 30px;
    display: flex;
    gap: 30px
}

.calendarInput:focus {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra mais acentuada quando estiver em foco */
}

.labelAndInput {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.labelAndInput label{
    padding-left: 2px;
}

.buttonContainer{
    display: flex;
    align-items: end;
    padding: 30px;
    gap: 30px;
}

.embeddedButton, .downloadButton{
    width: 100%;
    min-width: fit-content;
    height: 38.4px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    font-size: 16px;
    color: #333;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
    overflow: hidden;
}

.embeddedButton:hover, .downloadButton:hover{
    background-color: #0040ff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    color: #ffffff;
    transition: all 0.2s;
    cursor: pointer;
}

.emailInput{
    width: 100%;
    min-width: max-content;
}

.counting{
    align-self: center;
    color: white;
}

.calendar{
    width: 90%;
    height: 400px;
    align-self: center;
    border-radius: 20px;
    overflow: hidden;
    padding: 3px;
    background-color: white;
    margin-bottom: 20px;
}

.gifContainer{
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px 30px;
}

.gifContainer > img{
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

footer{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    color: rgb(0, 0, 0);
    padding: 10px 0px;
    background-color: #ad9ae6;
}

.logoGit{
    height: 40px;
    cursor: pointer;
}

.howWorks{
    width: 30%;
    max-width: 140px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    font-size: 16px;
    color: #333;
    outline: none;
    transition: all 0.3s;
}

.howWorks:hover{
    background-color: #0040ff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    color: #ffffff;
    transition: all 0.2s;
    cursor: pointer;
}
  
@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }
    .buttonContainer{
        flex-direction: column;
    }
}