.imgContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.imgContainer img{
    width: 95%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.calendarContainer{
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}
